body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  height: 10vh;
}

body {
  min-height: 100vh;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 90vh;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.avatar-section {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-text {
  width: 80px;
}

@media (min-width: 768px) {
  .main-dashboard {
    grid-template-columns: 25% 70%;
  }
}


